<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Create Account</title>
</head>
<body>
  <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
    <h2 class="text-3xl mb-5">Login</h2>
    <form action="/login" method="POST" class="flex flex-col gap-4 max-w-md">


      <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="email" placeholder="Email" name="email" required />
      <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="password" placeholder="Password" name="password" required />

      <input class="px-3 py-2 bg-blue-500 hover:bg-blue-600 cursor-pointer rounded-md" type="submit" value="Login" />
    </form>
    <div class="mt-4">
        <a href="/" class="inline-block text-sm text-blue-400 hover:underline">
          Don't have an account? Create one
        </a>
      </div>
  </div>
</body>
</html>